.controlContainer {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.controlContainer button {
  width: 200px;
}

.errorValidate {
  font-size: var(--fs-l1);
  color: var(--clr-secondary);
}
