.progressItem {
  display: inline-block;
  width: 100%;
  min-width: 10px;
  height: 20px;
}

.progressItem_waiting {
  background-color: var(--clr-gray);
}

.progressItem_focus {
  background-color: var(--clr-secondary);
}

.progressItem_completed {
  background-color: var(--clr-primary);
}
