.infoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.title {
  font-size: var(--fs-h1);
}

@media (max-width: 460px) {
  .infoContainer {
    flex-direction: column;
  }
}
