* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button,
  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  html {
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    font-size: 10px;
  }

  body {
    font-size: 1.6rem;
  }